version: '3.8'

services:
  nginx:
    restart: always
    depends_on:
      - frontend
      - backend
    build:
      context: ./nginx
      dockerfile: Dockerfile
    ports:
      - "80:80"

  postgres:
    restart: always
    build:
      context: ./postgres
      dockerfile: Dockerfile
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: ibs
      POSTGRES_DB: ibs
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  postgres-test:
    restart: always
    build:
      context: ./postgres
      dockerfile: Dockerfile
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: ibs
      POSTGRES_DB: testibs
    volumes:
      - db_data:/var/lib/postgresql/test-data
    ports:
      - "5433:5432"

  backend:
    restart: always
    depends_on:
      - postgres
    build:
      context: ./backend
      dockerfile: dev.Dockerfile
    environment:
      DATABASE_URL: postgres://ibs:password@postgres:5432/ibs?sslmode=disable
    volumes:
      - ./backend:/backend
    env_file:
      - backend/.env


  frontend:
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - frontend/.env
    environment:
      - WATCHPACK_POLLING=true
    build:
      context: ./frontend
      dockerfile: dev.Dockerfile
    volumes:
      - ./frontend:/frontend
      - /frontend/node_modules # ignore local node_modules path
volumes:
  db_data: