body {
	font-family: 'Roboto Slab', serif;
  }
  
  .sidenav {
	height: 100%;
	width: 160px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 20px;
  }
  
  .sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
  }
  
  .sidenav a:hover {
	color: #f1f1f1;
  }
  
  .main {
	margin-left: 160px; /* Same as the width of the sidenav */
	font-size: 28px; /* Increased text to enable scrolling */
	padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }

  .settings {
	  display: fixed;
	  color: red;
	  bottom:0;
  }

  h2{
	  color: #384158;
  }

  th, td {
	border: 1px solid black;
	margin: 0;
	padding: 15px;
	background-color: #e0e0e0;
  }

th {
	background-color: #14bdee;
	
}